<!doctype html>
{%load static%}
<html lang="en">
  <head>
    <title>trackbot </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="{%static 'fonts/icomoon/style.css'%}">

    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{%static 'css/jquery-ui.css'%}">
    <link rel="stylesheet" href="{%static 'css/owl.carousel.min.css'%}">
    <link rel="stylesheet" href="{%static 'css/owl.theme.default.min.css'%}">
    <link rel="stylesheet" href="{%static 'css/owl.theme.default.min.css'%}">

    <link rel="stylesheet" href="{%static 'css/jquery.fancybox.min.css'%}">

    <link rel="stylesheet" href="{%static 'css/bootstrap-datepicker.css'%}">

    <link rel="stylesheet" href="{%static 'fonts/flaticon/font/flaticon.css'%}">

    <link rel="stylesheet" href="{%static 'css/aos.css'%}">

    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    
  </head>
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
  

  <div id="overlayer"></div>
  <div class="loader">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>


  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
   
    
    <header class="site-navbar js-sticky-header site-navbar-target" role="banner">

      <div class="container">
        <div class="row align-items-center">
          
          <div class="col-6 col-xl-2">
            <h1 class="mb-0 site-logo"><a href="index.html" class="h2 mb-0">TRACKBOT<span class="text-primary">.</span> </a></h1>
          </div>

          <div class="col-12 col-md-10 d-none d-xl-block">
            <nav class="site-navigation position-relative text-right" role="navigation">

              <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                <li><a href="#home-section" class="nav-link">Home</a></li>

                
                
                <li><a href="#next" class="nav-link">Login</a></li>
                <li><a href="#contact-section" class="nav-link">Register</a></li>
                    </ul>
            </nav>
          </div>


          <div class="col-6 d-inline-block d-xl-none ml-md-0 py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle float-right"><span class="icon-menu h3"></span></a></div>

        </div>
      </div>
      
    </header>

  
     
    <div class="site-blocks-cover overlay" style="background-image: url({%static 'images/hero_2.jpg'%});" data-aos="fade" id="home-section">

      <div class="container">
        <div class="row align-items-center justify-content-center">

          
          <div class="col-md-10 mt-lg-5 text-center">
            <div class="single-text owl-carousel">
              <div class="slide">
                <h1 class="text-uppercase" data-aos="fade-up">TRACKBOT</h1>
                <p class="mb-5 desc"  data-aos="fade-up" data-aos-delay="100">A personal finance manager Using AI</p>
                <p class="mb-5 desc"  data-aos="fade-up" data-aos-delay="100">
                  TRACKBOT is a personal finance manager powered by AI that helps you effortlessly track your spending, manage your budgets, and analyze your financial habits.</p>

                <div data-aos="fade-up" data-aos-delay="100">
                  <a href="#" target="_blank" class="btn  btn-primary mr-2 mb-2">Get In Touch</a>
                </div>
              </div>

              <div class="slide">
                <h1 class="text-uppercase" data-aos="fade-up">TRACKBOT</h1>
                <p class="mb-5 desc"  data-aos="fade-up" data-aos-delay="100">A personal finance manager Using AI</p>
                <p class="mb-5 desc"  data-aos="fade-up" data-aos-delay="100">
                  TRACKBOT is a personal finance manager powered by AI that helps you effortlessly track your spending, manage your budgets, and analyze your financial habits.</p>

                <div data-aos="fade-up" data-aos-delay="100">
                  <a href="#" target="_blank" class="btn  btn-primary mr-2 mb-2">Get In Touch</a>
                </div>
              </div>



            </div>
          </div>
            
        </div>
      </div>

      <a href="#next" class="mouse smoothscroll">
        <span class="mouse-icon">
          <span class="mouse-wheel"></span>
        </span>
      </a>
    </div>  


    <div class="site-section cta-big-image" id="about-section">
      <div class="container">
        <div class="row mb-5 justify-content-center">
          <div class="col-md-8 text-center">
            <h2 class="section-title mb-3" data-aos="fade-up" data-aos-delay="">About Us</h2>
            <p class="lead" data-aos="fade-up" data-aos-delay="100">
            TRACKBOT is a personal finance manager powered by AI.
              </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">
            <figure class="circle-bg">
            <img src="{%static 'images/img_2.jpg'%}" alt="Free Website Template by Free-Template.co" class="img-fluid">
            </figure>
          </div>
          <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="100">
            
            <h3 class="text-black mb-4">We Solve Your Financial Problem</h3>

           <p>
             TRACKBOT is a personal finance manager powered by AI that helps you effortlessly track your spending, manage your budgets, and analyze your financial habits. With intelligent automation and personalized insights, TRACKBOT makes it easier to achieve your financial goals and maintain control over your money.
           </p>
          </div>
        </div>    
        
      </div>  
    </div>

    <div class="site-section" id="next">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-4 text-center" data-aos="fade-up" data-aos-delay="">
            <img src="{%static 'images/flaticon-svg/svg/001-wallet.svg'%}" alt="Free Website Template by Free-Template.co" class="img-fluid w-25 mb-4">
            <h3 class="card-title">Money Savings</h3>
            <p>Smart budgeting and disciplined spending are the keys to effective money savings.</p>
          </div>
          <div class="col-md-4 text-center" data-aos="fade-up" data-aos-delay="100">
            <img src="{%static 'images/flaticon-svg/svg/004-cart.svg'%}" alt="Free Website Template by Free-Template.co" class="img-fluid w-25 mb-4">
            <h3 class="card-title">Online Shoppings</h3>
            <p>Online shopping offers convenience and variety, making it easier than ever to find what you need.</p>
          </div>
          <div class="col-md-4 text-center" data-aos="fade-up" data-aos-delay="200">
            <img src="{%static 'images/flaticon-svg/svg/006-credit-card.svg'%}" alt="Free Website Template by Free-Template.co" class="img-fluid w-25 mb-4">
            <h3 class="card-title">Credit / Debit Cards</h3>
            <p>Credit and debit cards provide a secure and cashless way to manage everyday transactions.</p>
          </div>

        </div>

        <div class="row">
          <div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">
            <figure class="circle-bg">
            <img src="{%static 'images/about_2.jpg'%}" alt="Free Website Template by Free-Template.co" class="img-fluid">
            </figure>
          </div>
          <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="100">

<div class="row">
          <div class="col-md-12 mb-5">



            <form action="/LogAction" method="post" class="p-5 bg-white">
              {%csrf_token%}
              <h2 class="h4 text-black mb-5">Login Form</h2>

                <font color="red">{{lmsg}}</font>

              <div class="row form-group">

                <div class="col-md-12">
                  <label class="text-black" for="email">UserName</label>
                  <input type="text" id="u" name="uname" class="form-control">
                </div>
              </div>

              <div class="row form-group">

                <div class="col-md-12">
                  <label class="text-black" for="subject">Password</label>
                  <input type="password" id="p" name="pwd" class="form-control">
                </div>
              </div>



              <div class="row form-group">
                <div class="col-md-12">
                  <input type="submit" value="Login" class="btn btn-primary btn-md text-white">
                </div>
              </div>


            </form>
          </div>

        </div>
            
            
            
          </div>
        </div>
      </div>
    </div>

    



    <section class="site-section bg-light" id="contact-section" data-aos="fade">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center">
            <h2 class="section-title mb-3">Register Here</h2>
            <p style="color:red">{{msg}}</p>
          </div>
        </div>
        <div class="row mb-5">
          


          <div class="col-md-4 text-center">

          </div>
          <div class="col-md-4 text-center">

          </div>
          <div class="col-md-4 text-center">

          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mb-5">

            

            <form action="/RegAction" class="p-5 bg-white" method="post">
              {%csrf_token%}
              
              <h2 class="h4 text-black mb-5">Register Form</h2>

              <div class="row form-group">
                <div class="col-md-6 mb-3 mb-md-0">
                  <label class="text-black" for="fname">Name</label>
                  <input type="text" id="fname" name="name" class="form-control">
                </div>
                <div class="col-md-6">
                  <label class="text-black" for="lname">Email</label>
                  <input type="email" id="lname" name="email" class="form-control">
                </div>
              </div>

              <div class="row form-group">
                
                <div class="col-md-12">
                  <label class="text-black" for="email">Mobile</label>
                  <input type="number" id="email" name="mobile" class="form-control">
                </div>
              </div>

              <div class="row form-group">
                
                <div class="col-md-12">
                  <label class="text-black" for="subject">Address</label>
                  <input type="subject" id="subject" name="Address" class="form-control">
                </div>
              </div>
          <div class="row form-group">
                <div class="col-md-6 mb-3 mb-md-0">
                  <label class="text-black" for="fname">UserName</label>
                  <input type="text" id="uname" name="username" class="form-control">
                </div>
                <div class="col-md-6">
                  <label class="text-black" for="lname">Password</label>
                  <input type="password" id="pname" name="password" class="form-control">
                </div>
              </div>


              <div class="row form-group">
                <div class="col-md-12">
                  <input type="submit" value="Register" class="btn btn-primary btn-md text-white">
                </div>
              </div>

  
            </form>
          </div>
          
        </div>
      </div>
    </section>

    
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-9">

          </div>

        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <div class="border-top pt-5">
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              <p>Copyright &copy;
               TRACKBOT
A personal finance manager Using AI
              </p>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

            </div>
          </div>

        </div>
      </div>
    </footer>

  </div> <!-- .site-wrap -->

  <script src="{%static 'js/jquery-3.3.1.min.js'%}"></script>
  <script src="{%static 'js/jquery-ui.js'%}"></script>
  <script src="{%static 'js/popper.min.js'%}"></script>
  <script src="{%static 'js/bootstrap.min.js'%}"></script>
  <script src="{%static 'js/owl.carousel.min.js'%}"></script>
  <script src="{%static 'js/jquery.countdown.min.js'%}"></script>
  <script src="{%static 'js/jquery.easing.1.3.js'%}"></script>
  <script src="{%static 'js/aos.js'%}"></script>
  <script src="{%static 'js/jquery.fancybox.min.js'%}"></script>
  <script src="{%static 'js/jquery.sticky.js'%}"></script>
  <script src="{%static 'js/isotope.pkgd.min.js'%}"></script>

  
  <script src="{%static 'js/main.js'%}"></script>

  
  </body>
</html>